.work-container{
    height: 100vh;
    margin: 0;
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.work-titles{
    margin-top: 120px;

    .work-title{
        margin: 0;
        padding: 15px 0px;
        width: 400px;
        border-bottom: 1px solid var(--main-accent);
    }
}